*{
    margin: 0 auto;
    padding: 0;
}

.login-cuerpo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f5f5;
    width: 100%;
    height: 950px;
    font-family: poppins;
    background-image: linear-gradient(140deg,#0066cc , #00a357 80% );
}

.login-parte-superior{
    width: 100%;
    height: 45%;
    background-color: transparent;
}
.login-panel{
    width: 100%;
    height: 315px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    
}
.login-cuerpo-inicio{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border-radius: 16px;
    width: 500px;
    height: 580px;
    gap: 0.8rem;
    transition: all 0.2s ease;
}

.login-cuerpo-inicio:hover{
    transform: translateY(-3px);
}

.login-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
    border-radius: 16px;
    background-color: transparent;
    padding: 0 0.8rem;

}
.login-log{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: white;
    width: 70px;
    height: 70px;
    color: #00A367;
    font-size: 20px;
    font-weight: 600;
}
.imagen-logo{
    width: 70px;
    height: 70px;
}

.login-titulo{
    font-weight: 900;
    color: white;
    margin-top: 1rem;
    margin-bottom: 0.8rem;
    font-size: 40px;
}

.login-parrafo-inicio{
    width: 80%;
    text-align: center;
    font-size: 14px;
    color: white;

}

.login-usuario {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 140px;
    margin-top: 1rem;
    gap:0.2rem
    
}

.login-label-usuario,
.login-input-usuario,
.login-label-contrase単a,
.login-input-contrase単a{
    width: 100%;


}

.login-input-contrase単a,
.login-input-usuario{
    height: 40px;
    width: 98%;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.295);
    padding-left: 0.5rem;
    transition: all 0.3s ease;
    outline: none;
}




.login-boton-inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    background-color: rgb(47, 110, 226);
    color: white;
    border: none;
    border-radius: 8px;
    margin-top: 1.5rem;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}



.login-boton-inicio-sesion {
    width: 90%
}

.login-links {
    padding-top: 2rem;
    display: flex;
    width: 80%;
    
}

.login-link-olvido-contrase単a,
.login-link-crear-cuenta {
    color: #00A367;
}

.login-separador {
    color: rgba(128, 128, 128, 0.459);
}

.login-subtitulo {
    padding-top: 1rem;
    font-size: 15px;
}